
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Content("~/Content/Images/donateblood.jpg")" style="height:500px ; width:300px" />


        </div>



        <div class="col-md-9">
            <div class="alert alert-warning" style="font-family:Algerian">
                <h3>Vision Blood Bank</h3>
                <p style="font-size:18px">Donate Today, You never know when you need it</p>
            </div>
            <div class="alert alert-success" style="font-family:Algerian">
                <h3>Mission Blood Bank</h3>
                <p style="font-size:18px">
                    To improve the lives of Pakistani through the power of humanity,
                    Every Pakistani Must Knows His/Her Free Blood Group
                </p>
            </div>
            <div class="alert alert-info" style="font-family:Algerian">
                <h3>Abuot Blood Bank</h3>
                <p style="font-size:18px">
                    Blood Bank came into being in 2015 back with a desire of no one
                    going through the pain of watching helplessly when their loved ones are suffering and do not get aid in time.
                    Thus Blood Bank was born with a mission to help those who would be in dire need of blood, since our inception thousands
                    of people have came forward as potential donors and enrolled in our database from all over Pakistan,
                    some of them even from the Middle East.
                </p>
            </div>
        </div>


    </div>




